<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Contact Me!</h3>
            <p> If ever you want to keep in touch you may reach me through my email<br/>
              I make you I check them as regularly as possible<br/>
              Gmail: yan4414@gmail.com
            </p>
      
     
     
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Jennifer Adrianne Caballes</h3>
              <ul>
                <li>Contact number: 09224572620</li>
                <li>Address : 389 AP Burgos St. Alangalang Manduae City</li>
                <li>Facebook: Jennie Caballes</li>
                <li>Instagram: jenadriane</li>
                <li>Email: yan4414@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 </footer>